{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}- les missions
{% endblock %}


{% block body %}
	<div class="container mt-5">

		<div class="card mb-3 texte-size-show">
			<div class="mission_detail_titre card-header">
				<h4 class="card-header text-muted">Mission :
					<span class="agent text-white">{{ mission.title }}</span>
				</h4>
				<h4 class="card-header text-muted">Nom de code :
					<span class="agent text-white">{{ mission.codeName }}</span>
				</h4>
			</div>

			<div class="container_mission_image">
				<img class="mission_image" src="{{ asset('/asset/images/detail-mission.png') }}" alt="image du film Xmen"></img>
		</div>
		<div class="card-body">

			<h6 class="card-subtitle text-muted ">Pays :<span class="agent text-white">{{ mission.pays }}</span>
			</h6>
		</div>


		<div class="card-body description">
			<p class="card-text text-muted">Description :</p>
			<p class="card-text">{{ mission.description }}</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item text-muted">
				{% for cible in mission.cible %}
					<span class="agent text-muted">Cibles :</span>
					<span class="agent text-white">
						{{ cible.name }}
						{{cible.firstName}}<span class="text-muted">&thinsp; Nationalité :</span>
						<span class="agent text-white">{{ cible.nationalite }}</br>
					</span>
				{% endfor %}
			</li>
			<li class="list-group-item text-muted">Type de mission :
				<span class="agent text-white">{{ mission.typeMission }}</span>
			</li>
			<li class="list-group-item text-muted">Spécialité requise :
				<span class="agent text-white">{{ mission.specialite }}</span>
			</li>
			<li class="list-group-item text-muted">
				{% for agent in mission.agent %}
					<span class="agent text-muted">Agents :</span>
					<span class="agent text-white">
						{{ agent.name }}
						{{ agent.firstName }}<span class="text-muted">&thinsp; Nationalité :</span>
						<span class="agent text-white">{{ agent.nationalite }}</br>
					</span>
				{% endfor %}
			</li>
			<li class="list-group-item text-muted">
				{% for contact in mission.contact %}
					<span class="agent text-muted">Contacts :</span>
					<span class="agent text-white">
						{{ contact.name }}
						{{ contact.firstName }}</span>&thinsp;Nationalité :
					<span class="agent text-white">{{ contact.nationalite }}</br>
				</span>
			{% endfor %}
		</li>
		<li class="list-group-item text-muted">Spécialité requise :
			<span class="agent text-white">{{ mission.specialite }}</span>
		</li>
		<li class="list-group-item text-muted">Planque :
			<span class="agent text-white">
				{% if mission.planque %}
					{{ mission.planque }}
					{% else %}

				{% endif %}
			</span>
			<span class="text-muted">&thinsp; adresse :</span>
			<span class="agent text-white">
				{% if mission.planque.address|default(null) %}
					{{ mission.planque.address }}
					{% else %}

				{% endif %}
			</span>
			<span class="text-muted">&thinsp; pays :</span>
			<span class="agent text-white">
				{% if mission.planque.pays|default(null) %}
					{{ mission.planque.pays }}
					{% else %}

				{% endif %}
			</span>
		</li>


	</ul>
	<div class="card-footer text-muted">
		<div>
			Statut :
			<span class="text-white">{{ mission.Statut }}</span>
		</div>
		<div>
			Début de la mission :
			{{ mission.DateStart|date('d/m/Y') }}</div>
		<div>
			Fin de mission :
			{{ mission.DateEnd|date('d/m/Y') }}</div>
	</div>

</div>
<div class="card">
	<div class="card-body menu-card">
		<a href="{{ path('home.index') }}" class="btn btn-info">Retour à la liste</a>
		{% if app.user %}
			<div class="menu-card-btn">
				<a href="{{ path('mission.edit', { id: mission.id }) }}" class="btn btn-info ">Modifier</a>
				<a href="{{ path('mission.delete', { id: mission.id }) }}" class="btn btn-danger">Supprimer</a>
			</div>
		{% endif %}
	</div>
</div></div></div>{% endblock %}
