{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- les planques{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-4">Nos planques</h1>
		{% if not planque.items is same as ([]) %}
        
		<h3>
			<div class="count mt-4">Nous avons {{ planque.getTotalItemCount }} planques disponibles</div>
		</h3>
		{% if app.user %}
        <a href="{{ path('planque.new') }}" class="btn btn-primary ">Ajouter une planque</a>
		{% endif %}

		{% for message in app.flashes('success') %}
        <div class="alert alert-success mt-3">
        {{ message }}</div>
    	{% endfor %}

		<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
			{% for planque in planque %}
				<div class="col">
					<div class="card text-white bg-primary mb-3 card_mobile">
						<div class="card-header">Code : {{ planque.code }}</div>
						<div class="card-body">
							<h5 class="card-title text-muted">Type : <span class="text-white">&thinsp; {{ planque.type }}</span></h5>
							<p class="card-text text-muted">Adresse : <span class="text-white">&thinsp; {{ planque.address }}</span></p>
						</div>
						{% if app.user %}
						<div class= "d-flex justify-content-evenly m-4">
							<a href="{{ path('planque.edit', { id: planque.id }) }}" class="btn btn-info">Modifier</a>
							<a href="{{ path('planque.delete', { id: planque.id }) }}" class="btn btn-danger">Supprimer</a>
						</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="navigation d-flex justify-content-center mt-4">{{ knp_pagination_render(planque) }}</div>
		{% else %}
        <h4>Aucune planque n'a été trouvé</h4>
		<a href="{{ path('planque.new') }}" class="btn btn-primary ">Ajouter une planque</a>
        {% endif %}
	</div>

{% endblock %}
