{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}- les spécialités
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Les spécialités</h1>
		{% if not specialite.items is same as ([]) %}

			{% if app.user %}
			<a href="{{ path('specialite.new') }}" class="btn btn-primary btn-size-new">Créer une spécialité</a>
			{% endif %}

			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-3">
					{{ message }}</div>
			{% endfor %}

			<div class="count mt-4">
				<h4>Il y a
					{{ specialite.getTotalItemCount }}
					spécialités au total</h4>
			</div>
			<div class="table-responsive col-8">
				<table class="table table-active mt-4 table-texte-size">
					<thead>
						<tr>
							<th scope="col-1">Numéro</th>
							<th scope="col-3">Nom</th>
							{% if app.user %}
							<th scope="col">Edition</th>
							<th scope="col">Suppression</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for specialite in specialite %}
							<tr class="table-active mt-4">
								<th scope="row" class="col-1">{{ specialite.id }}</th>
								<td class="col-3">{{ specialite.name }}</td>
								{% if app.user %}
								<td>
									<a href="{{ path('specialite.edit', { id: specialite.id }) }}" class="btn btn-info btn-size">Modifier</a>
								</td>
								<td>
									<a href="{{ path('specialite.delete', { id: specialite.id }) }}" class="btn btn-danger btn-size">Supprimer</a>
								</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(specialite) }}
			</div>
		{% else %}
			<h4>Aucune spécialités n'a été trouvé</h4>
			<a href="{{ path('specialite.new') }}" class="btn btn-primary">Créer une spécialité</a>
		{% endif %}
	</div>
{% endblock %}
