{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Créer une spécialité{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mt-4">Création d'une spécialité</h1>
        <div class="row g-3">
        {{ form_start(form) }}

        <div class="form-group col-md-6">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group col-md-6">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}
        </div>

        {{ form_rest(form) }}
    </div>
</div>
{% endblock %}