{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Créer un contact{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mt-4">Création d'un contact</h1>
        <div class="row g-3">
        {{ form_start(form) }}

        <div class="form-group col-md-6">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group col-md-6">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            <div class="form-error">
                {{ form_errors(form.firstName) }}
            </div>
        </div>

        <div class="form-group col-md-6">
            {{ form_label(form.dateOfBirth) }}
            {{ form_widget(form.dateOfBirth) }}
            <div class="form-error">
                {{ form_errors(form.dateOfBirth) }}
            </div>
        </div>

        <div class="form-group col-md-6">
            {{ form_label(form.codeName) }}
            {{ form_widget(form.codeName) }}
            <div class="form-error">
                {{ form_errors(form.codeName) }}
            </div>
        </div>

        <div class="form-group col-md-6">
            {{ form_label(form.nationalite) }}
            {{ form_widget(form.nationalite) }}
            <div class="form-error">
                {{ form_errors(form.nationalite) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit) }}
        </div>

        {{ form_rest(form) }}
        

    </div>
</div>
{% endblock %}